.current_forecast {
  width: 16rem;
  margin-inline: auto;
  margin-block-start: 2rem;
  padding-block: 2em;
  padding-inline: 1.2em;
  background-color: var(--background-light);
  border-radius: 0.6em;

  @media (min-width: 31.25rem) {
    margin-block-start: -3rem;
  }
}

.current_forecast h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.forecast_header {
  font-size: 1.8rem;
  margin-block-start: 2rem;
}

.forecast {
  margin-block-start: 2rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 16rem));
  justify-content: center;
  row-gap: 2rem;
  column-gap: 1.5rem;
}

.forecast__day {
  background-color: var(--background-light);
  padding-block: 2em;
  padding-inline: 1.5em;
  border-radius: 0.6em;
}

.forecast__week_day {
  font-size: 1.6rem;
  font-weight: 600;
}

.forecast__day h4 {
  font-size: 1rem;
  font-weight: 500;
}

.forecast__description {
  margin-block-start: 0.5em;
  font-size: 1.4rem;
}

.forecast__img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 0.5rem;
}

.forecast__temps {
  margin-block-start: 0.5rem;
  list-style: none;
  font-size: 1.4rem;
}

.forecast__feels_like {
  font-size: 1.2rem;
  line-height: 1.1em;
}

.forecast__temps_weekly {
  margin-block-start: 0.5rem;
  list-style: none;
  font-size: 1.2rem;
}

.forecast__precipitation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.2rem;
}

.forecast__precipitation:first-of-type,
.forecast__wind {
  margin-block-start: 0.8rem;
}

.forecast__precipitation:last-of-type {
  margin-block-start: 0.4rem;
}

.forecast__icon {
  width: 1.6rem;
  height: 1.6rem;
}

.forecast__icon_wind {
  margin-inline: auto;
}

.forecast__rain_percent {
  margin-inline-start: 0.3rem;
}

.forecast__wind p:last-of-type {
  margin-block-start: 0.4rem;
}
