
.forecast {
  margin-block-start: 2rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  row-gap: 4rem;
  column-gap: 1.5rem;
}

.forecast__day {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding-block: 2em;
  padding-inline: 1em;
  border-radius: 0.6em;
}

.forecast__week_day {
  font-size: 1.6rem;
}

.forecast__description {
  margin-block-start: 0.5em;
  font-size: 1.6rem;
}

.forecast__img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 1em;
}

.forecast__temps {
  list-style: none;
  font-size: 1.2rem;
}