.form {
  margin-block-start: 5rem;
  width: 100%;
  margin-inline: auto;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 0.5em;
  padding-inline: 1rem;
  padding-block: 2rem;

  @media (min-width: 48rem) {
    width: 65%;
    padding-inline: 3rem;
  }
}

.form__fieldset {
  border: none;
  text-align: center;
}

.form__fieldset legend {
  width: 100%;
  font-size: 1.2rem;
}

.form__fieldset label {
  margin-inline-start: 0.5em;
  font-size: 1.2rem;
}

.form_input_container {
  margin-block-start: 1rem;
}

.form__error p {
  font-size: 1.2rem;
}

.form__fieldset input {
  margin-inline-start: 0.5rem;
  margin-block-start: 0.5rem;
  width: 70%;
}

.form__fieldset button {
  width: 6rem;
  margin-block-start: 1.5rem;
  font-size: 1.2rem;
}

.form__fieldset button:hover {
  cursor: pointer;
}

.form__response {
  margin-block-start: 2rem;
  text-align: center;
}

.form__response h2 {
  font-size: 2rem;
}

.form__response button {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 0.7rem;
  margin-block-start: 1rem;
  border: none;
  border-radius: 0.2em;
  font-size: 1.5rem;
}

.form__response button:hover {
  cursor: pointer;
}
