.form {
  margin-block-start: 5rem;
  width: 55%;
  margin-inline: auto;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 0.5em;
  padding-inline: 2rem;
  padding-block: 2rem;
}

.form__fieldset {
  border: none;
  text-align: center;
}

.form__fieldset legend {
  width: 100%;
  font-size: 1.2rem;
}

.form__fieldset label {
  margin-inline-start: 0.5em;
  font-size: 1.2rem;
}

.form_input_container {
  margin-block-start: 1rem;
}

.form__error p {
  font-size: 1.2rem;
}

.form__fieldset input {
  margin-inline-start: 0.5rem;
  margin-block-start: 1.2rem;
  width: 70%;
}

.form__fieldset button {
  width: 6rem;
  margin-block-start: 1.5rem;
  font-size: 1.2rem;
}

.form__fieldset button:hover {
  cursor: pointer;
}

.form__response {
  margin-block-start: 2rem;
  text-align: center;
}

.form__response button {
  position: relative;
  left: 25%;
  bottom: 2.5%;
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 0.7rem;
  border: none;
  border-radius: 0.2em;
}

.form__response button:hover {
  cursor: pointer;
}
